html {
    background: linear-gradient(90deg, rgb(255, 0, 0), rgb(0, 255, 0));
} 
h1 {
    color: white; 
    text-align: center;
    text-decoration: underline; 
    font-weight: 900;
    font-style: oblique;
    border: 5px solid yellow;
  
 
}
h1:hover{
    background: linear-gradient(90deg, rgb(0, 255, 0), rgb(255, 0, 0)); 
    color: black; 
    font-size:88px;
    transition: all 500ms;
    font-size-adjust: 20px;
}

section{
    padding: 20px;
}
h2{
    color: rgb(15, 227, 15); 
    border: 2px solid yellow; 
    width: 125px;
    padding-left: 5px;
   
}
h2:hover {
    background: linear-gradient(90deg, rgb(255, 0, 0), rgb(0, 255, 0)); 
    color: black; 
}
li{
    display: flex;
}
p,li{
    color: yellow; 
}
a {
    color :yellow; 
    margin-top: 10px;
}
h2 + li {
    margin-bottom: 10px;
}
ul > li:hover{
    font-size:88px;
    transition: all 500ms;
    font-size-adjust: 20px;
    color: greenyellow; 
    font-style: oblique;
}